<table id="BookingData" class="display table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Full Name</th>
                    <th>Gmail</th>
                     <th>Age</th>
                     <th>Booking Date</th>
                     <th>Priority Number</th>
                    <th>Status</th>
                    <th>Action Result</th>
                </tr>
            </thead>
            <tbody></tbody>
</table>