
<br>
<br>
<br>


<table id="AdminAccountData" class="display table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>StaffId</th>
                    <th>Fullname</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Action Result</th>
                </tr>
            </thead>
            <tbody></tbody>
</table>