<div class="card_con">

<div class="card" style="width: 18rem;">
  <img src="~/image/pending-text.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pending Transactions</h5>
    <p class="card-text">Overall Total Pending Transaction</p>
      <figure><img src="./../image/team.png" alt=""> <h1>500</h1></figure>

  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="~/image/approved.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Approved Transactions</h5>
    <p class="card-text">Overall Total Approved Transaction</p>
      <figure><img src="./../image/team.png" alt=""> <h1>500</h1></figure>
   
 
  </div>
</div>

</div>

<style>
    .card_con{display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 30px; flex-direction: row;}
       
    .card-img-top{ height:250px;border: 1px solid #e2d8d8;}
</style>


