<div class="modal fade" id="modalTransactionUpdate" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="modal-body d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Update Transaction</h5>
       </div>
        <button type="button" id="modalTransactionUpdateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body staffAcntUpdate d-flex justify-content-center">
        <div style="width: 365px;">

          <form id="updateTransactionForm">
            <div class="form-group">
              <label name="" class="control-label">Transaction Name</label>
              <input type="text" name="TransactionName" id="inputTransactionName" placeholder="Update Transaction Name"
                class="form-control" required />
            </div>

          </form>


        </div>
      </div>

      <div class="modal-footer">
        <div class="modal-body d-flex justify-content-center ">
          <button type="button" class="btn btn-primary w-75" id="updateTransactionacc">Confirm</button>
        </div>
      </div>


    </div>
  </div>
</div>
</div>